/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0090DF;
  --ifm-color-primary-dark: #0582c5;
  --ifm-color-primary-darker: #025f91;
  --ifm-color-primary-darkest: #013e5f;
  --ifm-color-primary-light: #45A4DE;
  --ifm-color-primary-lighter: #3d94ca;
  --ifm-color-primary-lightest: #31739c;
  --ifm-code-font-size: 95%;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #0090DF;
  --ifm-color-primary-dark: #0582c5;
  --ifm-color-primary-darker: #025f91;
  --ifm-color-primary-darkest: #013e5f;
  --ifm-color-primary-light: #45A4DE;
  --ifm-color-primary-lighter: #3d94ca;
  --ifm-color-primary-lightest: #31739c;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.plugin-pages .navbar {
  box-shadow: none;
}

[data-theme='light'] .navbar {
  background-color: #ffffff;
  /* azul escuro, por exemplo */
}

[data-theme='dark'] .navbar {
  background-color: #1B1B1D;
  /* azul escuro, por exemplo */
}

.footer {
  text-align: center;
}

/* Footer no modo claro */
[data-theme='light'] .footer {
  background-color: #F2F2F2;
}

/* Footer no modo claro */
.plugin-pages[data-theme='light'] .footer {
  background-color: #3399FF;
}

.plugin-pages[data-theme='light'] .footer a,
.plugin-pages[data-theme='light'] .footer .footer__copyright,
.plugin-pages[data-theme='light'] .footer .footer__title {
  color: #ffffff;
}

[data-theme='dark'].footer {
  background-color: #1B1B1D;
}

/* Footer no modo escuro */
.plugin-pages[data-theme='dark'] .footer {
  background-color: #056BD2;
}

.plugin-pages .buttons_AeoN a {
  border: none;
  /* color: #ffffff; */
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}