/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0090DF;
  --ifm-color-primary-dark: #0582c5;
  --ifm-color-primary-darker: #025f91;
  --ifm-color-primary-darkest: #013e5f;
  --ifm-color-primary-light: #45A4DE;
  --ifm-color-primary-lighter: #3d94ca;
  --ifm-color-primary-lightest: #31739c;
  --ifm-code-font-size: 95%;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #0090DF;
  --ifm-color-primary-dark: #0582c5;
  --ifm-color-primary-darker: #025f91;
  --ifm-color-primary-darkest: #013e5f;
  --ifm-color-primary-light: #45A4DE;
  --ifm-color-primary-lighter: #3d94ca;
  --ifm-color-primary-lightest: #31739c;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.plugin-pages .navbar {
  box-shadow: none;
}

[data-theme='light'] .navbar {
  background-color: #ffffff;
  /* azul escuro, por exemplo */
}

[data-theme='dark'] .navbar {
  background-color: #1B1B1D;
  /* azul escuro, por exemplo */
}

.footer {
  text-align: center;
}

/* Footer no modo claro */
[data-theme='light'] .footer {
  background-color: #F2F2F2;
}

/* Footer no modo claro */
.plugin-pages[data-theme='light'] .footer,
.plugin-pages[data-theme='light'] main {
  background-color: #3399FF;
}

.plugin-pages[data-theme='light'] .footer a,
.plugin-pages[data-theme='light'] .footer .footer__copyright,
.features_t9lD,
.plugin-pages[data-theme='light'] .footer .footer__title {
  color: #ffffff;
}

[data-theme='dark'].footer {
  background-color: #1B1B1D;
}

/* Footer no modo escuro */
.plugin-pages[data-theme='dark'] .footer,
.plugin-pages[data-theme='dark'] main {
  background-color: #056BD2;
}

.plugin-pages .buttons_AeoN a {
  border: none;
  /* color: #ffffff; */
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}


.buttons--home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.buttons--home .button:first-child {
  margin: 0 0.5rem;
}

.buttons--home .button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50px;
  width: 300px;

  line-height: 1;
  padding: 1rem 2rem;
}

@media (max-width: 628px) {
  .buttons--home {
    display: flex;
    flex-direction: column;
  }

  .buttons--home .buttons_AeoN:first-child {
    margin-bottom: 2dvh;
  }
}

.buttons--home .button svg {
  margin-left: 5px;
}

.button--start-codespace {
  background-color: #0090DF;
  color: #ffffff !important;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header.heroBanner_qdFl {
  min-height: 500px;
}

.button--start-codespace svg {
  margin-left: 5px;
}

/* Responsividade para o botão "Run now in codespace" */
/* No desktop: botão aparece no Hero, some do navbar */
@media (min-width: 997px) {
  .navbar-codespace-link {
    display: none !important;
  }
  
  .hero-codespace-button {
    display: flex !important;
  }
}

/* No mobile: botão some do Hero, aparece no navbar */
@media (max-width: 996px) {
  .navbar-codespace-link {
    display: block !important;
  }
  
  .hero-codespace-button {
    display: none !important;
  }
}
