name: Build and Deploy Packages

on:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  discover_modules:
    runs-on: ubuntu-latest
    outputs:
      modules: ${{ steps.set-modules.outputs.modules }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: List modules
        id: set-modules
        run: |
          echo "modules=$(ls -d modules/* | xargs -n1 basename | jq -R -s -c 'split("\n")[:-1]')" >> $GITHUB_OUTPUT

  build:
    needs: discover_modules
    strategy:
      matrix:
        module: ${{ fromJson(needs.discover_modules.outputs.modules) }}
        arch:
          - {
              name: "macos-latest",
              os_suffix: "-darwin-aarch64",
              target: "aarch64-apple-darwin",
              module_extension: "dylib",
            }
          - {
              name: "ubuntu-latest",
              os_suffix: "-linux-amd64",
              target: "x86_64-unknown-linux-gnu",
              module_extension: "so",
            }
          - {
              name: "ubuntu-latest",
              os_suffix: "-linux-aarch64",
              target: "aarch64-unknown-linux-gnu",
              module_extension: "so",
            }
    runs-on: ${{ matrix.arch.name }}
    env:
      OS_SUFFIX: ${{ matrix.arch.os_suffix }}
      TARGET: ${{ matrix.arch.target }}
      MODULE_EXTENSION: ${{ matrix.arch.module_extension }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Make scripts executable
        run: chmod +x ./scripts/*.sh
      - name: Install cross
        run: cargo install cross --force
      - name: Build module
        run: ./scripts/packages.sh --single "modules/${{ matrix.module }}"
      - name: Upload package artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.module }}${{ env.OS_SUFFIX }}
          path: packages/*.tar.gz
          retention-days: 1

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y jq
      - name: Make scripts executable
        run: chmod +x ./scripts/*.sh
      - name: Create raw directory
        run: mkdir -p raw
      - name: Download all packages
        uses: actions/download-artifact@v4
        with:
          path: raw
      - name: Run resolver script
        run: ./scripts/resolver-packages-dir.sh
      - name: Setup Git for packages repo
        run: |
          git config --global user.name "GitHub Actions Bot"
          git config --global user.email "actions@github.com"
      - name: Clone packages repository
        env:
          TOKEN: ${{ secrets.PHLOW_PACKAGES_PAT }}
        run: |
          git clone https://x-access-token:${TOKEN}@github.com/phlowdotdev/phlow-packages.git
      - name: Update packages repository
        env:
          GH_TOKEN: ${{ secrets.GH_PAT  }}
        run: |
          cp -R packages/* phlow-packages/packages/
          cd phlow-packages
          git checkout -b update-packages-${{ github.run_id }}
          git add .
          git commit -m "Update packages from workflow run ${{ github.run_id }}" || echo "No changes to commit"
          git push --set-upstream origin update-packages-${{ github.run_id }}
          gh pr create --title "Update packages from workflow run ${{ github.run_id }}" --body "Automated package update from workflow run." --base main --head update-packages-${{ github.run_id }}
