name: Publish Crates

on:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Publish phs
        run: cargo publish -p phs --token "$CARGO_REGISTRY_TOKEN" --no-verify

      - name: Wait for phs
        run: sleep 30

      - name: Publish phlow-sdk
        run: cargo publish -p phlow-sdk --token "$CARGO_REGISTRY_TOKEN" --no-verify

      - name: Wait for phlow-sdk
        run: sleep 30

      - name: Publish phlow-engine
        run: cargo publish -p phlow-engine --token "$CARGO_REGISTRY_TOKEN" --no-verify

      - name: Wait for phlow-engine
        run: sleep 30

      - name: Publish phlow-runtime
        run: cargo publish -p phlow-runtime --token "$CARGO_REGISTRY_TOKEN" --no-verify

      - name: Publish phlow-tui-inspect
        run: cargo publish -p phlow-tui-inspect --token "$CARGO_REGISTRY_TOKEN" --no-verify
